/* import variable.css file */
@import "variable.css";

/* body font family CSS */
body {
  font-family: var(--primary-font-family);
  color: #707070;
  line-height: 1.75;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1rem;
  line-height: 1.21;
  color: initial;
}

/* header */
header {
  font-family: var(--heading-primary-font-family) !important;
  font-size: 14px;
  color: #353535;

}

.active-blue {
  color: var(--primary-background-color);
}

.secondary-solid-btn:hover {
  background: transparent !important;
  border: 1px solid var(--primary-background-color) !important;
  color: var(----primary-background-color) !important;
  box-shadow: none;
}

header .container-xl .navbar .collapse ul li button {
  background-color: var(--primary-background-color);
  color: #ffffff;
  text-transform: capitalize;
}

header .container-xl .navbar .navbar-brand {
  width: 80px;
}

header .navbar {
  padding: 0.3rem 1rem;
}

.header-top-bar {
  width: 100%;
  display: flex;
  background-color: var(--primary-background-color);

}

.header-top-bar .container .social-media-list {
  list-style: none;
  text-align: end;
}

.header-top-bar .container .contact-list {
  list-style: none;
  text-align: start;
}

.header-top-bar .container .social-media-list li,
.header-top-bar .container .contact-list li {
  display: inline;
  padding-right: 10px;
}

.header-top-bar .container .social-media-list li a,
.header-top-bar .container .contact-list li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 14px;
}

.outline-white-btn:hover {
  transform: perspective(1px) translateZ(0);
  transform: scale(1.3);
  border: 1px solid var(--primary-color);

}

.outline-white-btn {
  padding: 12px 30px;
  font-family: var(--heading-primary-font-family);
  font-weight: 600;
  font-size: 13px;
  transition: all 0.25s ease-in-out;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition: all 0.5s ease-in-out 0s;
}

/* footer CSS */
.footer-bottom {
  background-color: var(--primary-background-dark-color);
}

.footer-heading h6 {
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
}

.footer-bottom ul li {
  color: var(--primary-color);
  display: inline-flex;

}

footer .container .icon-list ul li a {
  color: var(--primary-color);
}

/* footer CSS */
footer .container .icon-list ul li {
  list-style: none;
  display: inline;
  padding-right: 30px;
}

footer .container .middle-list ul li,
footer .container .last-list ul li {
  list-style: none;
  margin-bottom: 20px;

}

footer .container .middle-list ul li a {
  text-decoration: none;
  color: var(--primary-color);
}

footer .container .middle-list ul li:first-child,
footer .container .middle-list ul li:nth-child(2) {
  text-transform: uppercase;
}

footer .container .middle-list ul li:nth-child(3),
footer .container .middle-list ul li:nth-child(4) {
  text-transform: capitalize;
}

footer .container .last-list ul li a {
  text-decoration: none;
  color: var(--primary-color);

}

footer .container .last-list ul li a span i {
  font-size: 14px;
  padding-right: 6px;
}

.footer-bottom ul li:first-child {
  padding-right: 47px;
}

.gradient-bg {
  background: linear-gradient(75deg, var(--primary-background-color) 10%, var(--primary-background-color)) !important;
}