/* import variable.css file */
@import "variable.css";

/* body font family CSS */
body {
  font-family: var(--primary-font-family);
  color: #707070;
  line-height: 1.75;
  font-size: 13px;
}

h1,h2,h3,h4,h5 {
  margin: 0 0 1rem;
  line-height: 1.21;
  color: initial;
}

/* back-to-top button css */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: var(--primary-background-color);
  color: white;
  cursor: pointer;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.banner-before::before {
  position: absolute;
  content: "";
  background-image: linear-gradient(rgba(0, 69, 127, 0.88), rgba(0, 69, 127, 0.88));
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.banner-heading{
  font-family: var(--heading-primary-font-family);
}
.small {
  font-size: 0.8em;
}