.blue-color{
  color: var(--bg-blue);
}
.bg-blue-color{
  background-color: var(--bg-blue);
}
.blue-light-color{
  color:var(#EEF9FF)
}
.blue-light-color{
  background-color: var(--blue-light);
}
.top-shape::before {
  position:absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--bg-blue);
  transform: skew(40deg);
}
header .header-btn{
  background-color:var(--bg-blue);
  color:#EEF9FF;
}
header .header-btn:hover{
 background-color: #fd7e14;
 color: #000000;
}
h1, h2, .font-weight-bold {
  font-weight: 700 !important;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: 'Jost', sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  color: #091E3E;
  outline: none;
  transition: .5s;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: var(--bg-blue);
}