/*  index page banner CSS */
.carousel{
    max-width: 100%;
    position: relative;
    margin-bottom: 6rem;
}
.owl-carousel .owl-dots{
    display: none;
}
.owl-carousel .owl-prev,.owl-carousel .owl-next {
    position: absolute;
}
.owl-carousel .owl-prev span,
.owl-carousel .owl-next span
{
    font-size: 6em;

}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel .owl-nav .owl-next:hover
{
  background-color: var(--primary-color);
}
.owl-carousel .owl-prev{
    position: absolute;
    top:50%;
    left:5%;
    transform: translate(-50%,-50%);
}
.owl-carousel .owl-next{
    position: absolute;
    top:50%;
    right:3%;
    transform: translate(-50%,-50%);
}
.carousel .owl-carousel .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}

#owl-demo .item{
    background: #42bdc2;
    padding: 30px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
  }
  
 
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(9, 30, 62, .85);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animated-text{
    max-width: 900px;
}
.animated-text h1{
    font-size: 5rem;
}
.blue{
    background-color: var(--bg-blue);
}
.blue-color{
    color: var(--bg-blue);

}
.dark-blue{
    background-color: #091E3E;
}
.orange{
    background-color: #F57E57;
}
/* .card-group .card{
    height: 300px;
}
.card-items{
    position: absolute;
    top: 84%;
    z-index: 1;
    left: 5%;
} */
.banner-bt{
    position: relative;
    margin-top: -90px;
    z-index: 1;
}

/* about us banner */
.banner .heading{
  align-items: center;
  justify-content: center;
  display: flex;
}
.banner{
  background: linear-gradient(rgba(9, 30, 62, .85), rgba(9, 30, 62, .85)), url(../images/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}
.banner a{
   text-decoration: none;
   color: #ffffff;

}
.main .main-title .top-head{
    color: var(--bg-blue);
}
.main h1,
.main h5{
    color: #091E3E;
}

.main .main-title .top-head::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    right: -55px;
    bottom: 11px;
    background: var(--bg-blue);
}
.main .main-title .top-head::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    right: -75px;
    bottom: 11px;
    background: #F57E57;
}

.main .main-title .appoint-btn:hover{
    background-color: #F57E57;
}

/* services css */
.twentytwenty-wrapper {
    height: 100%;
}
.twentytwenty-overlay {
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
    background: rgba(0, 0, 0, 0);
    z-index: 25;
}
.twentytwenty-before-label, .twentytwenty-after-label, .twentytwenty-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.twentytwenty-before-label {
    opacity: 0;
}
.twentytwenty-after-label {
    opacity: 0;
}
.twentytwenty-handle {
    height: 38px;
    width: 38px;
    position: absolute;
    left: 218.5px;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
    border: 3px solid white;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    border-radius: 1000px;
    -webkit-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 0px 12px rgba(51, 51, 51, 0.5);
    z-index: 40;
    cursor: pointer;
}
.section-title h5::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 3px;
    right: -55px;
    bottom: 11px;
    background-color: #42bdc2;
}
.section-title h5::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    right: -75px;
    bottom: 11px;
    background-color: #F57E57;
}
.contact-form-bg{
   background-color: #EEF9FF;
}